@charset "UTF-8";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

.content{
    background-color: #fff;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

